@{
ViewBag.Title = "NotAuthorise";
}
<h2>NotAuthorise</h2>
<p style="text-align: center; color: red;">You don't have access to this page!</p>

<div>
    @Html.ActionLink("Back to Home page", "Index", "Home")
</div>
