@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div style="color:#324960;">
    <p>Additional information.</p>
    <div>
        <p>
            We design and develop robust websites and web applications. Our web development
            services help businesses thrive on the digital landscape.
        </p>
    </div>
    <div>
        <p>If you want to be a part of SoCo </p>
        @Html.ActionLink("Join Us Now", "ActiveOffices", "Office")
    </div>
</div>
