@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />
<div style="color:#324960;">
    <address>
        <strong>Address: </strong>  Bulevard "Sveti Kliment Ohridski" 8, 1756 Studentski Kompleks, Sofia<br />
    </address>



    <address>
        <strong>Support:</strong>  Borislava Vidnyarska <br />
        <strong>Phone: </strong>   +359 897827325<br />
        <strong>Email:</strong>  <a href="mailto:bobetto374@gmail.com">bobetto374@gmail.com</a><br />

    </address>
</div>