@{
    ViewBag.Title = "WELCOME TO SoCo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="color:#324960;">
    <p><strong>SoCo</strong></p>
    <p>
        Is a software company that provides web & software development. Its innovative blend of technologies optimizes the rapid implementation of tools customized to meet the requirements of each client, making it the leading software in several industries.
    </p>
    <br />
    <p><strong>Our Web Development Process</strong></p>
    <p>
        We follow proven and tested processes, which generate the best possible results. We ensure to deliver desired quality to our clients, within the expected time frame. The software engineers in our website development services company are experts in project management.
    </p>
    <br />
    <p><strong>Our Expertise </strong></p>
    <p>
        We have experienced web engineers that reflect our expertise in every aspect of custom web development. We continuously evolve our skills, to help our clients reach their expectations.
    </p>
</div>